* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: url("https://images.unsplash.com/photo-1518770660439-4636190af475");
    background-size: cover;
    background-attachment: fixed;
    color: #e5e7eb;
}

.bg-overlay {
    position: fixed;
    inset: 0;
    background: rgba(3, 7, 18, 0.9);
    z-index: -1;
}

/* HERO */
.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 4rem;
    color: #38bdf8;
    text-shadow: 0 0 20px #38bdf8;
}

.hero p {
    font-size: 1.2rem;
    color: #94a3b8;
}

/* SECTIONS */
.section {
    padding: 70px 10%;
}

.section.dark {
    background: rgba(15, 23, 42, 0.6);
}

.section h2 {
    margin-bottom: 40px;
    color: #7dd3fc;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.service-card {
    background: #020617;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transition: 0.3s;
}

.service-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 30px rgba(56,189,248,0.5);
}

.service-card span {
    display: block;
    margin-top: 10px;
    color: #38bdf8;
}

/* PIPELINE */
.pipeline {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 10px;
}

.pipeline div {
    flex: 1;
    background: #020617;
    padding: 20px;
    border-radius: 10px;
    box-shadow: inset 0 0 20px rgba(56,189,248,0.3);
}

/* ARCH */
.architecture p {
    margin-bottom: 10px;
}

button {
    margin-top: 20px;
    padding: 10px 25px;
    border: none;
    background: #38bdf8;
    color: #020617;
    border-radius: 8px;
    cursor: pointer;
}

.arch-details {
    display: none;
    margin-top: 20px;
}

/* WHY */
.why {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.why div {
    background: #020617;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    color: #94a3b8;
}

